
h1, h2, h3, p, img, figure, form, section, figcaption{
    text-align: center;
}

body{
    background-image: url(https://i.pinimg.com/originals/42/f9/7a/42f97a7e1f58f28447a9db18fcb89a00.gif);
    background-size: cover;
    max-width: 100%;
    max-height: 100%;   
    font-family: sans-serif;
}

h1, h2, h3, p, a{
    color: rgb(232, 232, 232);
}

.lists{
    background-image: url(https://64.media.tumblr.com/e8364720b389ddf470629d232074ea49/667305b0a79064ff-34/s2048x3072/40d612cf1a0c6c7dcbe3df8709d422e81fb7462f.gif);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.a {
    margin-left: auto;
    margin-right: auto;
      width: 50%;
 background-image: url(https://img.freepik.com/free-vector/construction-with-black-yellow-stripes_1017-30755.jpg);
    color: aliceblue;
}

.front{
 
}


.tab  h1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.tab1{
    text-align: left;
    width: 12%;
    margin-left: -170px;
}

.tab2{
    text-align: right;
    margin-right: -205px;
    width: 20%;
}

.tab3{
    text-align: right;
    margin-right:-250px;
    width: 18%;
}

ul{
    color:rgb(121, 88, 38);
}

h1{
    font-size:2vw;
}

a:hover{
    color:antiquewhite;
}

a:active{
color:antiquewhite;
}

hr{
    height: .2vw;
    background-color: rgb(249, 249, 249);
    border-color: rgb(244, 244, 244);
}

.Memorial{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: antiquewhite;
}
.look1{ 
 margin-left: auto;
 margin-right: auto;
 max-width: 100%;
}

.mem{
    width: 50%;
    margin-left: auto;
    margin-right: auto;

}