
h1, h2, h3, p, img, figure, figcaption, form, section{
    text-align: center;
}

body{
    background-color: dimgrey;
    font-family: sans-serif;
}

h1, h2, h3, p, a{
    color: rgb(232, 232, 232);
}

.lists{
    background-image: url(https://cdn.wallpapersafari.com/80/75/Ct09Uj.jpg);
    width: 100%;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
}

.a {
    margin-left: auto;
    margin-right: auto;
      width: 50%;
 background-image: url(https://img.freepik.com/free-vector/construction-with-black-yellow-stripes_1017-30755.jpg);
    color: aliceblue;
}

.front{
 
}


.tab  h1{
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}


.tab1{
    text-align: left;
    width: 12%;
    margin-left: -170px;
}

.tab2{
    text-align: right;
    margin-right: -205px;
    width: 20%;
}

.tab3{
    text-align: right;
    margin-right:-250px;
    width: 18%;
}

ul{
    color: rgb(168, 168, 168);
}

h1{
    font-size:2vw;
}
